
/* ==========================================================================
   Font
   ========================================================================== */

@import url('https://fonts.googleapis.com/css?family=Roboto');

/* ==========================================================================
   General Style
   ========================================================================== */

html {
  font-family: 'Roboto', 'sans-serif';
}

.project-screen {
  padding-bottom: 100px;
}

.project-screen article {
  display: flex;
}

.project-screen > article > section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* ==========================================================================
   Buttons
   ========================================================================== */

.project-screen ul.btns {
  padding: 30px 0;
}

.project-screen ul.btns > li > a {
  color: #000;
  text-decoration: none;
  padding: 10px 20px;
  border: 1px solid #000;
  border-radius: 2px;
}

.project-screen ul.btns > li > a:hover {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: box-shadow 0.3s;
}

/* ==========================================================================
   HomeScreen
   ========================================================================== */

.home {
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home > .hero {
  text-align: center;
}

.home > .hero > h1 {
  font: 900 36px/36px 'Roboto', 'sans-serif';
  letter-spacing: 1.6em;
  margin-top: 50px;
  transition: all 333ms ease-in-out;
}

.home > .hero span {
  font-weight: 900;
  letter-spacing: 0.5em;
  margin-top: 9px;
}

/* ==========================================================================
   ProjectScreen 1
   ========================================================================== */

.project-screen.one article {
  flex-direction: row-reverse;
}

.project-screen.one article figure img.homescreen {
  width: 800px; /* vw fallback */
  width: 60vw;
}

.project-screen.one > article > section {
  text-align: right;
  padding: 0 50px;
}

.project-screen.one > article > section > ul {
  padding-right: 0;
  align-self: flex-end;
}

.project-screen.one ul.btns > li > a {
  color: #ed8998;
  border-color: #ed8998;
}

.project-screen.one ul.tags {
  padding: 20px;
}

.project-screen.one ul.tags li {
  text-align: right;
}

/* ==========================================================================
   ProjectScreen 2
   ========================================================================== */

.project-screen.two article {
  flex-direction: column;
}

.project-screen.two article figure img.homescreen {
  width: 900px; /* vw fallback */
  width: 70vw;
}

.project-screen.two > article > section {
  max-width: 800px;
  text-align: left;
  padding: 20px 20px 0;
  align-items: flex-start;
}

.project-screen.two ul.btns > li > a {
  color: #b5466d;
  border-color: #b5466d;
}

.project-screen.two ul.tags {
  padding: 0 20px;
}

/* ==========================================================================
   ProjectScreen 3
   ========================================================================== */

.project-screen.three {
  padding-bottom: 150px;
}

.project-screen.three article {
  flex-direction: column;
  align-items: center;
}

.project-screen.three article figure img.homescreen {
  width: 700px; /* vw fallback */
  width: 50vw;
}

.project-screen.three article section {
  max-width: 700px; /* vw fallback */
  max-width: 50vw;
  text-align: left;
  padding: 20px;
}

.project-screen.three ul.btns {
  align-self: center;
}

.project-screen.three ul.btns > li > a {
  color: #4285f5;
  border-color: #4285f5;
}

.project-screen.three ul.tags {
  align-self: flex-end;
}

.project-screen.three ul.tags > li {
  text-align: right;
}

/* ==========================================================================
   ProjectScreen 4
   ========================================================================== */

.project-screen.four {
  padding-bottom: 150px;
}

.project-screen.four article:first-child {
  flex-direction: row-reverse;
}

.project-screen.four article:last-child {
  display: flex;
  justify-content: flex-end;
}

.project-screen.four article figure img.homescreen {
  width: 800px; /* vw fallback */
  width: 60vw;
  padding-right: 100px;
}

.project-screen.four > article > section {
  max-width: 250px;
  text-align: right;
  padding: 0 100px;
  flex-grow: 1;
  align-items: center;
}

.project-screen.four ul.btns {
  align-self: flex-end;
}

.project-screen.four ul.btns > li > a {
  color: #348d85;
  border-color: #348d85;
}

.project-screen.four article:last-child {
  display: flex;
  justify-content: flex-end;
}

.project-screen.four ul.tags {
  padding-right: 100px;
}

.project-screen.four ul.tags > li {
  display: inline-block;
}

/* ==========================================================================
   ProjectScreen 5
   ========================================================================== */

.project-screen.five article {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project-screen.five article figure img.homescreen {
  width: 1100px; /* vw fallback */
  width: 80vw;
}

.project-screen.five > article > section {
  max-width: 1100px;
  max-width: 80vw;
  padding: 0 100px;
  align-items: flex-start;
}

/* ==========================================================================
   RWD
   ========================================================================== */

@media screen and (min-width: 2000px) {
  .project-screen.one article section p {
    max-width: 600px; /* vw fallback */
    max-width: 25vw;
  }
}

@media screen and (max-width: 1024px) {
  body {
    padding: 10px;
  }

  .project-screen.one ul.tags,
  .project-screen.two ul.tags,
  .project-screen.two > article > section,
  .project-screen.four article figure img.homescreen,
  .project-screen.four > article > section,
  .project-screen.four ul.tags,
  .project-screen.five > article > section {
    padding: initial;
  }

  .project-screen.one article figure img.homescreen,
  .project-screen.two article figure img.homescreen,
  .project-screen.three article figure img.homescreen,
  .project-screen.four article figure img.homescreen,
  .project-screen.five article figure img.homescreen {
    width: 100%;
    padding: 5px 0;
  }

  .project-screen.one > article > section,
  .project-screen.two > article > section,
  .project-screen.three > article > section,
  .project-screen.four > article > section,
  .project-screen.five > article > section {
    max-width: 100%;
    padding: initial;
  }

  .home > .hero > h1 {
    font: 900 18px/36px 'Roboto', 'sans-serif';
    letter-spacing: 1em;
    margin-top: 0;
  }

  .project-screen.one article {
    flex-direction: column;
  }

  .project-screen.one article section {
    text-align: left;
    padding: initial;
  }

  .project-screen.one ul {
    padding-right: 0;
    align-self: flex-end;
  }

  .project-screen.three ul.tags {
    align-self: center;
  }

  .project-screen.three ul.tags > li {
    text-align: left;
  }

  .project-screen.four {
    display: flex;
    flex-direction: column-reverse;
  }

  .project-screen.four article:first-child {
    text-align: left;
    flex-direction: column;
  }

  .project-screen.four article section {
    max-width: initial;
  }

  .project-screen.four article section p {
    text-align: left;
    align-self: flex-start;
  }

  .project-screen.four article:last-child {
    justify-content: flex-start;
  }

  .project-screen.four ul.btns {
    align-self: flex-start;
  }

  .project-screen.five > article > section {
    max-width: initial;
  }
}
